[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/noise"]
	path = submodules/noise
	url = https://github.com/stegu/webgl-noise.git
[submodule "submodules/rhea"]
	path = submodules/rhea
	url = https://github.com/MrMetric/rhea.git
[submodule "submodules/strict_variant"]
	path = submodules/strict_variant
	url = https://github.com/cbeck88/strict-variant.git
[submodule "submodules/zstr"]
	path = submodules/zstr
	url = https://github.com/mateidavid/zstr.git
