bin/cam_pos
bin/screenshots/
bin/scripts/settings
bin/worlds/
build/
projects/**/*.idb
projects/**/*.nativecodeanalysis.xml
projects/**/*.obj
projects/**/*.pdb
projects/vs2017/block_thingy.vcxproj.user
projects/vs2017/.vs/
projects/vs2017/Debug/
projects/vs2017/Release/
projects/vs2017/x64/

# for symlinked submodules on Windows
bin/shaders/noise/
lib/glm/
lib/rhea/
lib/strict_variant/
lib/zstr/
